mod00/ex00/megaphone
.vscode/settings.json
mod00/ex01/obj
mod00/ex01/phonebook
mod00/.DS_Store
mod00/ex02/.DS_Store
mod00/ex02/bankster
*.o
mod00/ex02/src/ref_Account.cpp
mod00/ex02/bankster.log
mod01/ex01/zombie
mod01/ex02/pointers.dSYM
.DS_Store
mod01/ex00/zombie
mod01/ex02/pointers
mod01/ex03/unnecessary